<!-- // ABOUT // -->


<div class="navigate-container">
    <h1 class="navigate-name">ABOUT ME</h1>
    <ul class="navigate-links ">
        <li><a href="/" class="navigate-link ">HOME</a></li>
        <li class="slash"> / </li>
        <li><a href="/about" class="navigate-link">ABOUT</a></li>
    </ul>
</div>



<div class="container">




    <div class="image-container">
        <img src="/img/arditi.jpg" class="image" loading="lazy" alt="about-image">
    </div>

    <div class="text-container">
        <p>
            ABOUT ME
        </p>
        <h1 class="title-h1">PERSONAL DETAILS</h1>
        <p class="description">
            I'm a web developer with a focus on the MERN stack, but still exploring other technologies and frameworks
            that
            catch my interest! if you're looking for a developer to add to your team, I'd love to hear from you!
        </p>

        <!-- <div class="buttons">
            <a href="/explore-more" class="button">Explore More</a>

        </div> -->

    </div>


</div>






<div class="personal-data-container">
    <div class="data-text">
        <h1 class="title-h1">PERSONAL DATA</h1>
    </div>

    <div class="data">
        <div class="datum">
            <img src="https://img.icons8.com/stickers/50/000000/calendar.png" />
            <div class="datum-text">
                <div class="type-of-data">Date of Birth:</div>
                <div>23.04.1997</div>
            </div>
        </div>
        <div class="datum">
            <img src="https://img.icons8.com/fluency/50/000000/new-post.png" />
            <div class="datum-text">
                <div class="type-of-data">Email:</div>
                <div>arditqerimi88@gmail.com</div>
            </div>
        </div>
        <div class="datum">
            <img src="https://img.icons8.com/stickers/50/000000/phone.png" />
            <div class="datum-text">
                <div class="type-of-data">Phone:</div>
                <div>
                    049-487-954
                </div>
            </div>
        </div>
        <div class="datum">
            <img src="https://img.icons8.com/color/50/000000/marker--v1.png" />
            <div class="datum-text">
                <div class="type-of-data">Location:</div>
                <div>
                    Prishtina
                </div>

            </div>
        </div>



    </div>

</div>


<div class="myservices-container">

    <div class="text-container">
        <p>Services</p>
        <h1 class="title-h1">My Offered Services</h1>
        <p class="description">
            At about this time of year, some months after New Year’s resolutions have been made and kept, or
            made and
            neglected.
        </p>

        <!-- <div class="buttons">
            <a href="/explore-more" class="button">Explore More</a>
        </div> -->
    </div>


    <div class="my-services">
        <div class="service">
            <img src="https://img.icons8.com/cute-clipart/64/000000/web.png" />
            <div>Web Development</div>
            <div>If you are an entrepreneur, you know that your success cannot depend on the opinions of
                others.
                Like
                the
                wind, opinions.</div>

        </div>
        <div class="service">
            <img
                src="https://img.icons8.com/external-wanicon-flat-wanicon/64/000000/external-mobile-application-work-at-home-wanicon-flat-wanicon.png" />
            <div>Apps Interface</div>
            <div>Do you sometimes have the feeling that you’re running into the same obstacles over and over
                again? Many
                of my
                conflicts.</div>

        </div>
        <div class="service">
            <img
                src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/000000/external-web-design-ux-and-ui-icons-flaticons-lineal-color-flat-icons.png" />
            <div>Web Design</div>
            <div>“It is not because things are difficult that we do not dare; it is because we do not dare
                that
                they are
                difficult.”</div>

        </div>
        <div class="service">
            <img
                src="https://img.icons8.com/external-wanicon-lineal-color-wanicon/64/000000/external-photography-art-and-design-wanicon-lineal-color-wanicon.png" />
            <div>Photography</div>
            <div>Do you want to be even more successful? Learn to love learning and growth. The more effort
                you
                put into
                improving your skills.</div>

        </div>

    </div>

</div>




<div class="skills-container">
    <div class="skills-text">
        <h1 class="title-h1">WEB DEVELOPMENT SKILLS</h1>
    </div>

    <div class="skills">
        <div class="skill">
            <img src="https://img.icons8.com/color/64/000000/html-5--v1.png" />
            <img src="https://img.icons8.com/color/64/228BE6/css3.png" />
            <div class="skill-text">HTML / CSS</div>
        </div>
        <div class="skill">
            <img src="https://img.icons8.com/color/64/000000/javascript--v1.png" />
            <div class="skill-text">JavaScript</div>
        </div>
        <div class="skill">
            <img src="https://img.icons8.com/color/64/000000/react-native.png" />
            <img src="https://img.icons8.com/color/64/000000/angularjs.png" />
            <div class="skill-text">

                React / React Native, Angular
            </div>
        </div>
        <div class="skill">
            <img src="https://img.icons8.com/fluency/64/000000/node-js.png" />
            <img src="https://img.icons8.com/color/64/000000/mongodb.png" />
            <div class="skill-text">

                NodeJS / MongoDB
            </div>
        </div>



    </div>

</div>

<div class="download-container">


    <div class="download-text">Click in the button below to download my full CV</div>

    <div class="download-button-container">
        <a href="https://drive.google.com/file/d/1t-sfzPQP6TKJG8N9W68fw5imC9yKMy2f/view?usp=sharing" target="_blank"
            class="download-link">Download</a>
    </div>



</div>